/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Stick&family=Roboto&family=Hammersmith+One&family=Crimson+Text&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /* global styles */
html {
    font-size: 10px;
    font-family: 'Crimson Text';
}
body {
    line-height: 2.5rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}

/* header styles */
h1, h2 {
    font-family: 'Hammersmith One';
    letter-spacing: 0.25rem;
}
h1 {
    font-size: 5rem;
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h2 + p {
    text-indent: 20px;
}
p, li, a {
    font-size: 1.8rem;
}

a {
    outline: none;
}
a:link {
    color: #a66;
}
a:visited {
    color: rgb(245, 104, 104);
}
a:focus {
    color: olive;
}
a:hover {
    text-decoration: none;
    color: #a66;
}
a:active {
    color: red;
}

/* navigation styles */
nav li {
    list-style-type: none;
    text-align: center;
}
nav li a {
    display: block;
    text-decoration: none;
    color: #a66;
    border: 1px solid #a66;
    padding: 1rem;
    margin-bottom: 1rem;
}
nav li:hover a{
    background-color: #a66;
    color: white;
}

a[href*="http"] {
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}

ol {
    list-style-type: none;
    margin-left: -25px;
}
ol li {
    padding-left: 3rem;
}
ol li:first-child {
    background: url('phone.svg') no-repeat;
    background-size: 1.8rem 1.8rem;
    background-position: left center;
}
ol li:nth-child(2) {
    background: url('brochure1.svg') no-repeat;
    background-size: 1.8rem 1.8rem;
    background-position: left bottom;
}
ol li:nth-child(3) {
    background: url('book.svg') no-repeat;
    background-size: 1.8rem 1.8rem;
    background-position: left bottom;
}

h2 ~ ul{
    list-style-type: square;
}